<h1>Welcome to the WDI - LA Chat! | BETA</h1>
<h3>I missed you...</h3>

<div id="message_box">
	<% @messages.each do |m| %>
	<div class="message">
		Message Body: <%= m.body %><br>
		Created <%= time_ago_in_words message.created_at %> ago.
	</div>
	<% end %>
</div>

<div id="text_box">
	
</div>